../target/
target/
target
!.mvn/wrapper/maven-wrapper.jar

data.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.tar
*.tar.gz
*.tgz

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn/
/mvnw
/mvnw.cmd

config_example_mysql.yaml
config_example_starrocks.yaml
.trae
.docker_temp*

# Local secrets and deployment variables
.env
